* {
  box-sizing: border-box;
}

:root {
  --padding: 5vh;
  --green: #596d48;
  --banner-height: 14vh;
}

body {
  display: flex;
  margin: 0px;
  height: 100vh;
}

form,
#left,
#right {
  flex-direction: column;
  display: flex;
  height: 100vh;
}

#left {
  min-width: 30vw;
  max-width: 30vw;
  background-image: url("./halie-west-25xggax4bSA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#right {
  flex: 4 1 0px;
}

#left > div {
  flex: 1 1 0px;
}

#spacer1 {
  max-height: calc(35vh - var(--banner-height));
}

#banner {
  background-color: rgba(0, 0, 0, 0.508);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: var(--banner-height);
  padding: 1vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

#banner > * {
  flex: 1 1 0;
}

#banner img {
  max-height: 100%;
  object-fit: contain;
}

#banner span {
  font-size: 7vh;
}

#banner-credit {
  max-height: 4vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

form > div {
  background-color: lightgrey;
  padding-left: 5vw;
  display: flex;
  flex-direction: column;
}

#top {
  justify-content: flex-end;
  padding-bottom: var(--padding);
  font-size: large;
}

#middle {
  background-color: white;
  flex: 1 1 0px;
}

#middle legend {
  display: flex;
  align-items: center;
}

#middle > * {
  flex: 1 1 0px;
}

#top,
#bottom {
  min-height: 35vh;
}

#bottom {
  justify-content: flex-start;
  padding-top: var(--padding);
  gap: var(--padding);
}

#bottom button {
  max-width: 20vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  border-radius: 0.5cap;
  border: none;
  background-color: var(--green);
  color: white;
  font-weight: 500;
  font-size: medium;
}

.row {
  display: flex;
  gap: 5vw;
}

.input {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 0.5cap;
  border: solid #e5e7eb 0.5px;
}

input:focus {
  border-radius: 0.5cap;
  border: thin blue 0.01vw;
  box-shadow: 2px 5px 5px rgba(95, 94, 94, 0.485);
}

input:invalid {
  border: thin red 0.01vw;
}

label {
  font-size: 0.7rem;
}

a {
  color: var(--green);
  text-decoration: none;
  font-weight: bold;
}
